.Rproj.user
.RData
.Ruserdata
*.pper
.Rhistory
*.Rproj
vignettes/*.html
vignettes/*.R
/.*/
TODO.md
SCOPE.md
dev/*

Rplots.pdf

# R CMD build / check artifacts
*.Rcheck/
*.tar.gz

# bibs/: track .bib citations, never commit the copyrighted source texts
bibs/*.pdf
bibs/*.epub
bibs/*.mobi
bibs/*.djvu
